/* Container Principal do Card de Login */
@media screen and (max-width: 600px){
    .login-card {
    background-color: var(--fundo-card);
    width: 90%;
    max-width: 340px;
    padding: 45px 17px;
    
    border-radius: 24px;
    box-shadow: -15px 0 45px -20px rgba(66, 153, 225, 0.15), 
                 15px 0 45px -20px rgba(66, 153, 225, 0.15),
                 inset 0 1px 1px rgba(255, 255, 255, 0.05);
    text-align: center;
    }

    /* Área da Logo e Textos */

    .logo {
        padding-bottom: 25px;
    }

    .logo-img {
        max-width: 100px; 
        height: auto;     
        display: block;   
        margin: 0 auto;   
    }

    .login-card h1.subtitle {
        color: var(--texto-secudario);
        font-size: 30px;
        line-height: 1;
        padding-bottom: 0px; 
        font-family: "Aston", cursive; 
        margin-top: -15px;   
    }

    .login-card p.subtitle {
        color: var(--texto-secudario);
        font-size: 12px;
        line-height: 1.2;
        margin-bottom: 1px;  
        margin-top: -3px;        
    }

    /* Espaçamento das Redes Sociais (O botão em si está em components.css) */
    .social-login {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-bottom: 32px;
    }

    /* Rodapé */
    .footer-text {
        color: var(--texto-secudario);
        font-size: 12px;
    }

    .footer-text a {
        color: var(--link-e-brilho);
        text-decoration: none;
        font-weight: 500;
        transition: text-decoration 0.2s ease;
    }

    .footer-text a:hover {
        text-decoration: underline;
    }
}


@media screen and (min-width: 601px){
    /* Container Principal do Card */
        .login-card {
            background-color: var(--fundo-card);
            width: 90%;
            max-width: 290px;
            padding: 30px 18px;
            border-radius: 24px;
            /* Sombra sutil simulando o brilho azul nas bordas */
            box-shadow: -15px 0 45px -20px rgba(66, 153, 225, 0.15), 
                         15px 0 45px -20px rgba(66, 153, 225, 0.15),
                         inset 0 1px 1px rgba(255, 255, 255, 0.05);
            text-align: center;
        }

        .logo{
            padding-bottom: 25px;
        }

        .logo-img {
            max-width: 100px; 
            height: auto;     
            display: block;
            margin: 0 auto;
        }

        .login-card h1.subtitle{
            color: var(--texto-secudario);
            font-size: 30px;
            line-height: 1;
            padding-bottom: 0px; 
            font-family: "aston", cursive; 
            margin-top:-15px;   
            
        }

        .login-card p.subtitle {
            color: var(--texto-secudario);
            font-size: 12px;
            line-height: 1.2;
            margin-bottom: 1px;  
            margin-top: -3px;        
        }

        .social-login {
            display: flex;
            justify-content: center;
            gap: 25px;
            margin-bottom: 32px;
        }

        .footer-text {
            color: var(--texto-secudario);
            font-size: 12px;
        }

        .footer-text a {
            color: var(--link-e-brilho);
            text-decoration: none;
            font-weight: 500;
            transition: text-decoration 0.2s ease;
        }

        .footer-text a:hover {
            text-decoration: none;
        }
}